# Importing necessary libraries

In [42]:
%matplotlib inline
import pandas as pd
import numpy as np

# Importing dataset

In [43]:
KD=pd.read_csv('datasets/kidney_disease.csv')

In [44]:
print(KD.head())

   id   age    bp     sg   al   su     rbc        pc         pcc          ba  \
0   0  48.0  80.0  1.020  1.0  0.0     NaN    normal  notpresent  notpresent
1   1   7.0  50.0  1.020  4.0  0.0     NaN    normal  notpresent  notpresent
2   2  62.0  80.0  1.010  2.0  3.0  normal    normal  notpresent  notpresent
3   3  48.0  70.0  1.005  4.0  0.0  normal  abnormal     present  notpresent
4   4  51.0  80.0  1.010  2.0  0.0  normal    normal  notpresent  notpresent

       ...        pcv    wc   rc  htn   dm  cad appet   pe  ane classification
0      ...         44  7800  5.2  yes  yes   no  good   no   no            ckd
1      ...         38  6000  NaN   no   no   no  good   no   no            ckd
2      ...         31  7500  NaN   no  yes   no  poor   no  yes            ckd
3      ...         32  6700  3.9  yes   no   no  poor  yes  yes            ckd
4      ...         35  7300  4.6   no   no   no  good   no   no            ckd

[5 rows x 26 columns]

In [45]:
print(KD.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
id                400 non-null int64
age               391 non-null float64
bp                388 non-null float64
sg                353 non-null float64
al                354 non-null float64
su                351 non-null float64
rbc               248 non-null object
pc                335 non-null object
pcc               396 non-null object
ba                396 non-null object
bgr               356 non-null float64
bu                381 non-null float64
sc                383 non-null float64
sod               313 non-null float64
pot               312 non-null float64
hemo              348 non-null float64
pcv               330 non-null object
wc                295 non-null object
rc                270 non-null object
htn               398 non-null object
dm                398 non-null object
cad               398 non-null object
appet             399 non-null object
pe                399 non-null object
ane               399 non-null object
classification    400 non-null object
dtypes: float64(11), int64(1), object(14)
memory usage: 81.3+ KB
None

In [46]:
print(KD.isnull().sum())

id                  0
age                 9
bp                 12
sg                 47
al                 46
su                 49
rbc               152
pc                 65
pcc                 4
ba                  4
bgr                44
bu                 19
sc                 17
sod                87
pot                88
hemo               52
pcv                70
wc                105
rc                130
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

 This dataset has 400 rows and 26 columns (25 feature variable and 1 target variable).We have many columns which have many missing values.

# Handling Missing Values(Numerical column)

Handling missing values in numerical columns. Missing values in  numerical columns can be substituted with total mean.

In [47]:
KD['age']=KD['age'].fillna(np.mean(KD['age']))

In [48]:
KD['bp']=KD['bp'].fillna(np.mean(KD['bp']))

In [49]:
KD['sg']=KD['sg'].fillna(np.mean(KD['sg']))

In [50]:
KD['al']=KD['al'].fillna(np.mean(KD['al']))

In [51]:
KD['su']=KD['su'].fillna(np.mean(KD['su']))

In [52]:
KD['bgr']=KD['bgr'].fillna(np.mean(KD['bgr']))

In [53]:
KD['bu']=KD['bu'].fillna(np.mean(KD['bu']))

In [54]:
KD['sc']=KD['sc'].fillna(np.mean(KD['sc']))

In [55]:
KD['sod']=KD['sod'].fillna(np.mean(KD['sod']))

In [56]:
KD['pot']=KD['pot'].fillna(np.mean(KD['pot']))

In [57]:
KD['hemo']=KD['hemo'].fillna(np.mean(KD['su']))

In [58]:
print(KD.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
id                400 non-null int64
age               400 non-null float64
bp                400 non-null float64
sg                400 non-null float64
al                400 non-null float64
su                400 non-null float64
rbc               248 non-null object
pc                335 non-null object
pcc               396 non-null object
ba                396 non-null object
bgr               400 non-null float64
bu                400 non-null float64
sc                400 non-null float64
sod               400 non-null float64
pot               400 non-null float64
hemo              400 non-null float64
pcv               330 non-null object
wc                295 non-null object
rc                270 non-null object
htn               398 non-null object
dm                398 non-null object
cad               398 non-null object
appet             399 non-null object
pe                399 non-null object
ane               399 non-null object
classification    400 non-null object
dtypes: float64(11), int64(1), object(14)
memory usage: 81.3+ KB
None

# Handling Missing Values(Categorical column)

Now all the numerical columns missing value are gone we have object type columns are left in which missing values can be replaced by the most frequent word

In [59]:
print(KD['rbc'].value_counts(dropna=False))

normal      201
NaN         152
abnormal     47
Name: rbc, dtype: int64

In [60]:
KD['rbc']=KD['rbc'].fillna('normal')

In [61]:
print(KD['pc'].value_counts(dropna=False))

normal      259
abnormal     76
NaN          65
Name: pc, dtype: int64

In [62]:
KD['pc']=KD['pc'].fillna('normal')

In [63]:
print(KD['pcc'].value_counts(dropna=False))

notpresent    354
present        42
NaN             4
Name: pcc, dtype: int64

In [64]:
KD['pcc']=KD['pcc'].fillna('notpresent')

In [65]:
print(KD['ba'].value_counts(dropna=False))

notpresent    374
present        22
NaN             4
Name: ba, dtype: int64

In [66]:
KD['ba']=KD['ba'].fillna('notpresent')

In [67]:
print(KD['htn'].value_counts(dropna=False))

no     251
yes    147
NaN      2
Name: htn, dtype: int64

In [68]:
KD['htn']=KD['htn'].fillna('no')

In [69]:
print(KD['dm'].value_counts(dropna=False))

no       258
yes      134
\tno       3
\tyes      2
NaN        2
 yes       1
Name: dm, dtype: int64

In [70]:
KD['dm']=KD['dm'].fillna('no')
KD['dm']=KD['dm'].replace('\tno','no')
KD['dm']=KD['dm'].replace('\tyes','yes')
KD['dm']=KD['dm'].replace(' yes','yes')

In [71]:
print(KD['cad'].value_counts(dropna=False))

no      362
yes      34
\tno      2
NaN       2
Name: cad, dtype: int64

In [72]:
KD['cad']=KD['cad'].fillna('no')
KD['cad']=KD['cad'].replace('\tno','no')

In [73]:
print(KD['appet'].value_counts(dropna=False))

good    317
poor     82
NaN       1
Name: appet, dtype: int64

In [74]:
KD['appet']=KD['appet'].fillna('good')

In [75]:
print(KD['pe'].value_counts(dropna=False))

no     323
yes     76
NaN      1
Name: pe, dtype: int64

In [76]:
KD['pe']=KD['pe'].fillna('no')

In [77]:
print(KD['ane'].value_counts(dropna=False))

no     339
yes     60
NaN      1
Name: ane, dtype: int64

In [78]:
KD['ane']=KD['ane'].fillna('no')

In [79]:
print(KD.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
id                400 non-null int64
age               400 non-null float64
bp                400 non-null float64
sg                400 non-null float64
al                400 non-null float64
su                400 non-null float64
rbc               400 non-null object
pc                400 non-null object
pcc               400 non-null object
ba                400 non-null object
bgr               400 non-null float64
bu                400 non-null float64
sc                400 non-null float64
sod               400 non-null float64
pot               400 non-null float64
hemo              400 non-null float64
pcv               330 non-null object
wc                295 non-null object
rc                270 non-null object
htn               400 non-null object
dm                400 non-null object
cad               400 non-null object
appet             400 non-null object
pe                400 non-null object
ane               400 non-null object
classification    400 non-null object
dtypes: float64(11), int64(1), object(14)
memory usage: 81.3+ KB
None

# Handling Missing Values(Column with bad data)

Now we can see that all the categorical features have all filled values while  some of the columns(pcv,wc,rc) which should be numerical but are of object type that means missing value is in some different format(Bad data). We will have to convert bad data into Nan then replace all Nan with mean value

In [80]:
print(KD['pcv'].value_counts(dropna=False))

NaN     70
52      21
41      21
44      19
48      19
40      16
43      14
45      13
42      13
36      12
28      12
50      12
33      12
32      12
37      11
34      11
46       9
35       9
29       9
30       9
31       8
24       7
39       7
26       6
38       5
49       4
54       4
47       4
53       4
51       4
25       3
27       3
22       3
23       2
19       2
14       1
21       1
15       1
16       1
20       1
\t?      1
\t43     1
9        1
17       1
18       1
Name: pcv, dtype: int64

In [81]:
KD['pcv']=pd.to_numeric(KD['pcv'],errors='coerce')#convert bad data(\t43,\t?)into Nan and convert column in numerical
KD['pcv']=KD['pcv'].fillna(np.mean(KD['pcv']))

In [82]:
print(KD['wc'].value_counts(dropna=False))

NaN       105
9800       11
6700       10
9200        9
7200        9
9600        9
6900        8
5800        8
11000       8
7000        7
9400        7
7800        7
9100        7
10500       6
6300        6
10700       6
4300        6
7500        5
8600        5
8100        5
5000        5
10200       5
7900        5
5600        5
8300        5
9500        5
4700        4
5500        4
6200        4
6800        4
         ...
12200       1
\t8400      1
11800       1
16300       1
10900       1
11900       1
9700        1
15700       1
11300       1
11500       1
19100       1
12300       1
10800       1
26400       1
12100       1
13600       1
16700       1
2600        1
4900        1
12500       1
4100        1
\t6200      1
14900       1
2200        1
5100        1
11200       1
5900        1
9900        1
21600       1
5200        1
Name: wc, Length: 93, dtype: int64

In [83]:
KD['wc']=pd.to_numeric(KD['wc'],errors='coerce')#convert bad data(\t8400,\t?)into Nan and convert column in numerical
KD['wc']=KD['wc'].fillna(np.mean(KD['wc']))

In [84]:
print(KD['rc'].value_counts(dropna=False))

NaN    130
5.2     18
4.5     16
4.9     14
4.7     11
4.8     10
3.9     10
3.4      9
4.6      9
6.1      8
5.9      8
3.7      8
5.0      8
5.5      8
5.3      7
5.4      7
3.8      7
5.8      7
4.3      6
4.2      6
5.6      6
6.5      5
4.4      5
5.7      5
3.2      5
4.1      5
6.2      5
5.1      5
6.4      5
6.3      4
6.0      4
3.6      4
4.0      3
3.5      3
3.3      3
4        3
2.9      2
2.5      2
2.7      2
3.1      2
2.1      2
3.0      2
5        2
2.8      2
2.6      2
\t?      1
2.4      1
3        1
2.3      1
8.0      1
Name: rc, dtype: int64

In [85]:
KD['rc']=pd.to_numeric(KD['rc'],errors='coerce')#convert bad data(\t?)into Nan and convert column in numerical
KD['rc']=KD['rc'].fillna(np.mean(KD['rc']))

In [86]:
print(KD.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
id                400 non-null int64
age               400 non-null float64
bp                400 non-null float64
sg                400 non-null float64
al                400 non-null float64
su                400 non-null float64
rbc               400 non-null object
pc                400 non-null object
pcc               400 non-null object
ba                400 non-null object
bgr               400 non-null float64
bu                400 non-null float64
sc                400 non-null float64
sod               400 non-null float64
pot               400 non-null float64
hemo              400 non-null float64
pcv               400 non-null float64
wc                400 non-null float64
rc                400 non-null float64
htn               400 non-null object
dm                400 non-null object
cad               400 non-null object
appet             400 non-null object
pe                400 non-null object
ane               400 non-null object
classification    400 non-null object
dtypes: float64(14), int64(1), object(11)
memory usage: 81.3+ KB
None

Now our dataset is ready all the columns are filled . All missing values and bad data are removed

# Separating feature variable and target variable

In [88]:
X=KD.drop('classification',axis='columns')
Y=KD['classification']

# Handling categorical columns in feature variable

Many machine learning model not accept categorical  column in feature variable so we will convert categorical column in feature variable in numerical variable by creating dummy variables

In [89]:
X=pd.get_dummies(X,drop_first=True)

In [90]:
print(X.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 25 columns):
id             400 non-null int64
age            400 non-null float64
bp             400 non-null float64
sg             400 non-null float64
al             400 non-null float64
su             400 non-null float64
bgr            400 non-null float64
bu             400 non-null float64
sc             400 non-null float64
sod            400 non-null float64
pot            400 non-null float64
hemo           400 non-null float64
pcv            400 non-null float64
wc             400 non-null float64
rc             400 non-null float64
rbc_normal     400 non-null uint8
pc_normal      400 non-null uint8
pcc_present    400 non-null uint8
ba_present     400 non-null uint8
htn_yes        400 non-null uint8
dm_yes         400 non-null uint8
cad_yes        400 non-null uint8
appet_poor     400 non-null uint8
pe_yes         400 non-null uint8
ane_yes        400 non-null uint8
dtypes: float64(14), int64(1), uint8(10)
memory usage: 50.9 KB
None

In feature variable all the columns now have neither missing value nor of categorical type . Yeee It is ready for modelling.

# Handling missing value in target variable

In [91]:
print(Y.value_counts(dropna=False))

ckd       248
notckd    150
ckd\t       2
Name: classification, dtype: int64

In [92]:
Y=Y.replace('ckd\t','ckd')

Now everything(target variable and feature variable) are ready for modelling.

# Random Forest Classifier

In [101]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.8,random_state=42)
rf=RandomForestClassifier(n_estimators=50,min_samples_leaf=0.2,random_state=42)
rf.fit(X_train,y_train)
pred=rf.predict(X_test)
print(classification_report(y_test,pred))
print("Accuracy of the given model is : {}".format(accuracy_score(y_test,pred)))

             precision    recall  f1-score   support

        ckd       1.00      1.00      1.00       205
     notckd       0.99      1.00      1.00       115

avg / total       1.00      1.00      1.00       320

Accuracy of the given model is : 0.996875

Random Forest Classifier with 50 number of tree having min_samples_leaf=0.2 has the accuracy 0f 99.6% precision 100% and recall is equal to 100% which is
GREAT!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!